* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.containerOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 1400px;
}
